<% layout('layouts/boilerplate') %>
    <h1>Doctor Dashboard</h1>
    <div class="row">
        <div class="col-6">
            <div class="row">
                <div class="col-6 offset-3">
                    <form id="search-form" method="get" action="" class="d-flex flex-column" role="search">
                        <input class="form-control me-2" placeholder="Search" name="q" id="search-input">
                        <div id="search-results" class="d-flex flex-column"></div>
                    </form>
                </div>
            </div>

            <div class="row fixed-height mt-5 mx-auto">
                <% for(let p of result.rows){ %>
                    <div class="card col-5 mx-auto my-2">
                        <div class="card-body d-flex flex-column justify-content-center">
                            <h5 class="card-title">
                                <%= p.person_name %>
                            </h5>
                            <span class="d-block">
                                <%= p.person_gender %>
                            </span>
                            <a href="/users/doctor/patient_full_details/<%= p.person_id %>"
                                class="btn btn-primary patient-ids">go</a>
                            <a href="#" class="btn btn-sm btn-info startChat text-white fw-bold mt-2"
                                data-patient-id="<%= p.person_id %>">Send a message</a>
                        </div>
                    </div>
                    <% } %>
            </div>
        </div>
        <div class="col-6">
            <div class="card text-center">
                <h3>Chat With patients</h3>
                <div class="card-header" id="chatBoxHeader">
                </div>
                <div class="card-body">
                    <div class="card-text" id="chatDiv">
                    </div>
                    <div class="d-flex">
                        <input id="chatInput" type="text" placeholder="Send a message" class="form-control">
                        <button id="chatSend" class="btn btn-primary ms-2 sendBTN">Send</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        const searchForm = document.getElementById('search-form');
        const searchInput = document.getElementById('search-input');
        const searchResults = document.getElementById('search-results');

        searchInput.addEventListener('input', async () => {
            const query = searchInput.value;
            const doctor_id = "<%= doctorObject.person_id %>"
            if (query.length === 0) {
                searchResults.innerHTML = '';
            }
            else {
                const result = await fetch(`/users/doctor/search/patient?person_name=${query}&doctor_id=${doctor_id}`);
                const result2 = await result.text();
                searchResults.innerHTML = result2;
            }
        })
    </script>

    <script>
        const socket = new WebSocket('ws://localhost:8080/chat');

        const chatInput = document.querySelector('#chatInput');
        const patientIds = document.querySelectorAll('.patient-ids');
        const chatHeader = document.querySelector('#chatBoxHeader');
        const startChatBtns = document.querySelectorAll('.startChat');
        const sendBTN = document.querySelector('.sendBTN');

        const doctor_id = "<%= doctorObject.person_id %>";
        // Establish a socket between all doctors of this patient
        socket.addEventListener('open', (event) => {
            console.log('WebSocket connection opened');

            for (const p of patientIds) {
                const message = {
                    type: "login",
                    sender_id: doctor_id,
                    receiver_id: p.innerText,
                    role: "doctor"
                }
                socket.send(JSON.stringify(message));
            }
        });
        // Send a message to specific patient
        let activeTab1 = null;

        chatHeader.addEventListener('click', async (e) => {
            const clicked = e.target;
            if (clicked.classList.contains('chatBoxTab')){
                chatDiv.innerHTML = '';
                const result = await fetch(`/message?sender=${doctor_id}&receiver=${clicked.getAttribute('data-patient-id')}`);
                const result1 = await result.text();
                const messagesArray = JSON.parse(result1);
                for (const m of messagesArray) {
                    if (m.message_sender == doctor_id){
                        chatDiv.innerHTML += `<p class="lead">You: ${m.message_content}</p>`;
                    }
                    else {
                        chatDiv.innerHTML += `<p class="lead">${m.message_sender}: ${m.message_content}</p>`;
                    }
                }
            }
        })

        startChatBtns.forEach((btn) => {
            btn.addEventListener('click', async () => {
                chatDiv.innerHTML = '';
                const patient_id = btn.getAttribute('data-patient-id');
                const patientName = btn.parentNode.childNodes[1].innerText;
                const receiver_id = btn.getAttribute('data-patient-id');
                const result = await fetch(`/message?sender=${doctor_id}&receiver=${patient_id}`);
                const result1 = await result.text();
                const messagesArray = JSON.parse(result1);
                const doctorName = btn.parentNode.childNodes[1].innerText;
                for (const m of messagesArray) {
                    if (m.message_sender == doctor_id){
                        chatDiv.innerHTML += `<p class="lead">You: ${m.message_content}</p>`;
                    }
                    else {
                        chatDiv.innerHTML += `<p class="lead">${doctorName}: ${m.message_content}</p>`;
                    }
                }
                chatSend.addEventListener('click', () => {
                    const content = chatInput.value;
                    const message = {
                        type: "message",
                        sender_id: "<%= doctorObject.person_id %>",
                        sender_name: "<%= doctorObject.person_name %>",
                        receiver_id: receiver_id,
                        role: "doctor",
                        content
                    }
                    if (chatInput.value !== '') {
                        const html = `<p class="lead">You: ${chatInput.value}</p>`;
                        chatDiv.innerHTML += html;
                        socket.send(JSON.stringify(message));
                    }
                    chatInput.value = '';
                })
                // create first tab 
                if (!activeTab1) {
                    activeTab1 = document.createElement('div');
                    activeTab1.classList.add('chatBoxTab', 'btn', 'btn-primary', 'active');
                    activeTab1.textContent = patientName;
                    activeTab1.setAttribute('data-patient', patientName);
                    activeTab1.setAttribute('data-patient-id', patient_id);
                    chatHeader.appendChild(activeTab1);
                } else {
                    // if there are tabs 
                    // check if this Patient has a tab opened
                    let existTab = null;
                    for (let i = 0; i < chatHeader.childElementCount; i++) {
                        if (chatHeader.children[i].innerText === patientName) {
                            existTab = chatHeader.children[i];
                            console.log("akzlejaz");
                            break;
                        }
                    }
                    if (existTab) {
                        // remove the highlight from the current tab 
                        // make the new tab highlighed
                        activeTab1.classList.remove('btn-primary');
                        activeTab1.classList.add('btn-secondary');
                        activeTab1 = existTab;
                        activeTab1.classList.remove('btn-secondary');
                        activeTab1.classList.add('btn-primary');
                    } else {
                        // if tab doesnt exist
                        const newTab = document.createElement('div');
                        newTab.classList.add('chatBoxTab', 'btn', 'btn-primary');
                        newTab.textContent = patientName;
                        newTab.setAttribute('data-patient', patientName);
                        newTab.setAttribute('data-patient-id', patient_id)
                        chatHeader.appendChild(newTab);

                        //Hightlight the new tab
                        activeTab1.classList.remove('btn-primary');
                        activeTab1.classList.add('btn-secondary');
                        activeTab1 = newTab;
                        activeTab1.classList.add('btn-primary');
                    }
                }
            })

        })
        // Receives A message from Certain patient
        socket.addEventListener('message', async (event) => {
            chatDiv.innerHTML = '';
            const data = JSON.parse(event.data);
            const patient_id = data.sender_id;
            const result = await fetch(`/message?sender=${data.sender_id}&receiver=${data.receiver_id}`);
            const result1 = await result.text();
            const messagesArray = JSON.parse(result1);

            for (const m of messagesArray) {
                if(!(m.message_sender == doctor_id)){
                    chatDiv.innerHTML += `<p class="lead">${data.sender_name}: ${m.message_content}</p>`;
                }else {
                    chatDiv.innerHTML += `<p class="lead">You: ${m.message_content}</p>`;
                }
            }
            // console.dir(patientIds[0].parentElement.childNodes[1].childNodes[1].innerText === data.sender_id)
            sendBTN.addEventListener('click', () => {
                const message = {
                    type: "message",
                    sender_id: doctor_id,
                    sender_name: "<%= doctorObject.person_name %>",
                    receiver_id: data.sender_id,
                    role: "doctor",
                    content: chatInput.value
                }
                if (chatInput.value !== '') {
                    const html = `<p class="lead">You: ${chatInput.value}</p>`;
                    chatDiv.innerHTML += html;
                    socket.send(JSON.stringify(message));
                    chatInput.value = '';
                }
            })
            if (!activeTab1) {
                activeTab1 = document.createElement('div');
                activeTab1.classList.add('chatBoxTab', 'btn', 'btn-primary', 'active');
                activeTab1.textContent = data.sender_name;
                activeTab1.setAttribute('data-patient-id', data.sender_id);
                activeTab1.setAttribute('data-patient', data.sender_name);
                chatHeader.appendChild(activeTab1);
            } else {
                // if there are tabs 
                // check if this patient has a tab opened
                let existTab = null;
                for (let i = 0; i < chatHeader.childElementCount; i++) {
                    if (chatHeader.children[i].innerText === data.sender_name) {
                        existTab = chatHeader.children[i];
                        break;
                    }
                }
                if (existTab) {
                    // remove the highlight from the current tab 
                    // make the new tab highlighed
                    activeTab1.classList.remove('btn-primary');
                    activeTab1.classList.add('btn-secondary');
                    activeTab1 = existTab;
                    activeTab1.classList.remove('btn-secondary');
                    activeTab1.classList.add('btn-primary');
                } else {
                    // if tab doesnt exist
                    const newTab = document.createElement('div');
                    newTab.classList.add('chatBoxTab', 'btn', 'btn-primary');
                    newTab.textContent = data.sender_name;
                    newTab.setAttribute('data-patient-id', data.sender_id)
                    newTab.setAttribute('data-patient', data.sender_name)
                    chatHeader.appendChild(newTab);

                    //Hightlight the new tab
                    activeTab1.classList.remove('btn-primary');
                    activeTab1.classList.add('btn-secondary');
                    activeTab1 = newTab;
                    activeTab1.classList.add('btn-primary');
                }
                // TODO: Load previous messages from database (backend code)
                
                // TODO: Send new messages to database (backend code)
            }
        }
        );


    // End
    // socket.addEventListener('close', (event) => {
    //     console.log('WebSocket connection closed');
    // });

    </script>