<% layout('layouts/doctorBoilerplate') %>
    <nav class="navbar navbar-expand-lg bg-body-tertiary mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Navbar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">All Patients</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">My Appointments</a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <!-- <h1>Doctor Dashboard</h1> -->
        <div class="row">
            <div class="col-md-3">
                <div class="row my-3">
                    <div class="col-6 offset-3">
                        <form id="search-form" method="get" action="" class="d-flex flex-column" role="search"> <input
                                class="form-control me-2" placeholder="Search" name="q" id="search-input"
                                autocomplete="off">
                            <div id="search-results" class="d-flex flex-column"></div>
                        </form>
                    </div>
                </div>
                <div class="max-profiles-height d-flex flex-column">
                    <% for(const p of result.rows){ %>
                        <div class="my-2 profileCards" style="max-width: 300px;">
                            <div class="card text-bg-light">
                                <div class="card-body p-2">
                                    <h5 class="text-center">
                                        <%= p.person_name %>
                                    </h5>
                                </div>
                            </div>
                            <div class="d-none d-flex justify-content-center gap-1 infoCard">
                                <a href="/users/doctor/patient_full_details/<%= p.person_id %>"
                                    class="btn btn-sm btn-primary text-white fw-bold mt-2 patient-ids">Visit Profile</a>
                                <a href="#" class="btn btn-sm btn-info startChat text-white fw-bold mt-2"
                                    data-patient-id="<%= p.person_id %>" data-patient-name="<%= p.person_name %>">Send a
                                    message</a>
                            </div>

                        </div>
                    <% } %>
                </div>
            </div>
            <div class="col-md-3 ms-auto align-self-end d-none" id="chatBox">
                <div class="card text-center position-relative">
                    <h4 class="me-5 fw-normal">Chat With patients</h4>
                    <div class="position-absolute top-0 end-0 d-flex gap-2 p-1">
                        <button class="btn btn-sm ms-5 symbol d-block" id="minimizeButton">&#8722;</button>
                        <button class="btn btn-sm ms-5 symbol d-none" id="boxButton">&#9633;</button>
                        <button class="btn btn-sm symbol" id="closeButton">&#10005;</button>
                    </div>
                    <div class="card-header d-flex gap-1" id="chatBoxHeader">

                    </div>
                    <div class="card-body d-block" id="chatBoxBody">
                        <div class="card-text max-chat-height" id="chatDiv">

                        </div>
                        <div class="d-flex d-block" id="messageFactory">
                            <input id="chatInput" type="text" placeholder="Send a message" class="form-control">
                            <button id="chatSend" class="btn btn-primary ms-2 sendBTN">Send</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="col-6">
            <div class="row">
                <div class="col-6 offset-3">
                    <form id="search-form" method="get" action="" class="d-flex flex-column" role="search"> <input
                            class="form-control me-2" placeholder="Search" name="q" id="search-input">
                        <div id="search-results" class="d-flex flex-column"></div>
                    </form>
                </div>
            </div>

            <div class="row fixed-height mt-5 mx-auto">
                <% for(let p of result.rows){ %>
                    <div class="card col-5 mx-auto my-2">
                        <div class="card-body d-flex flex-column justify-content-center">
                            <h5 class="card-title">
                                <%= p.person_name %>
                            </h5>
                            <span class="d-block">
                                <%= p.person_gender %>
                            </span>
                            <a href="/users/doctor/patient_full_details/<%= p.person_id %>"
                                class="btn btn-primary patient-ids">go</a>
                            <a href="#" class="btn btn-sm btn-info startChat text-white fw-bold mt-2"
                                data-patient-id="<%= p.person_id %>">Send a message</a>
                        </div>
                    </div>
                <% } %>
            </div>
        </div> -->

        </div>
    </div>
    <script>
        const searchForm = document.getElementById('search-form');
        const searchInput = document.getElementById('search-input');
        const searchResults = document.getElementById('search-results');

        searchInput.addEventListener('input', async () => {
            const query = searchInput.value;
            const doctor_id = "<%= doctorObject.person_id %>"
            if (query.length === 0) {
                searchResults.innerHTML = '';
            }
            else {
                const result = await fetch(`/users/doctor/search/patient?person_name=${query}&doctor_id=${doctor_id}`);
                const result2 = await result.text();
                searchResults.innerHTML = result2;
            }
        })
    </script>

    <script>
        const socket = new WebSocket('ws://localhost:8080/chat');

        const chatInput = document.querySelector('#chatInput');
        const patientIds = document.querySelectorAll('.patient-ids');
        const chatHeader = document.querySelector('#chatBoxHeader');
        const chatBody = document.querySelector('#chatBoxBody');
        const messageFactory = document.querySelector('#messageFactory');
        const startChatBtns = document.querySelectorAll('.startChat');
        const sendBTN = document.querySelector('.sendBTN');
        const profileCards = document.querySelectorAll('.profileCards');
        const chatBox = document.querySelector('#chatBox');
        const closeButton = document.querySelector('#closeButton');
        const minimizeButton = document.querySelector('#minimizeButton');
        const boxButton = document.querySelector('#boxButton');

        closeButton.addEventListener('click', () => {
            chatBox.classList.remove('d-block');
            chatBox.classList.add('d-none');
        });

        minimizeButton.addEventListener('click', () => {
            chatDiv.classList.add('d-none');
            chatDiv.classList.remove('d-block');
            chatHeader.classList.add('d-none');
            minimizeButton.classList.remove('d-block');
            minimizeButton.classList.add('d-none');
            boxButton.classList.remove('d-none');
            boxButton.classList.remove('d-block');
            messageFactory.classList.add('d-none');
            messageFactory.classList.remove('d-block')
        });

        boxButton.addEventListener('click', () => {
            chatDiv.classList.add('d-block');
            chatDiv.classList.remove('d-none');
            chatHeader.classList.add('d-flex');
            chatHeader.classList.remove('d-none');
            minimizeButton.classList.add('d-block');
            minimizeButton.classList.remove('d-none');
            boxButton.classList.add('d-none');
            boxButton.classList.remove('d-block');
            messageFactory.classList.add('d-block');
            messageFactory.classList.remove('d-none')
        });
        let activeElement = null;
        profileCards.forEach((element) => {
            element.addEventListener('click', () => {
                let test = element.childNodes[3];
                if (!activeElement) {
                    activeElement = test;
                    activeElement.classList.remove('d-none');
                    activeElement.classList.add('d-block');
                } else {
                    activeElement.classList.remove('d-block');
                    activeElement.classList.add('d-none');
                    activeElement = test;
                    activeElement.classList.remove('d-none');
                    activeElement.classList.add('d-block');
                }
            })
        })

        const doctor_id = "<%= doctorObject.person_id %>";
        const doctor_name = "<%= doctorObject.person_name%>";
        // Establish a socket between all doctors of this patient
        socket.addEventListener('open', (event) => {
            console.log('WebSocket connection opened');
            for (const p of patientIds) {
                const message = {
                    type: "login",
                    sender_id: doctor_id,
                    receiver_id: p.innerText,
                    role: "doctor"
                }
                socket.send(JSON.stringify(message));
            }
        });
        // Send a message to specific patient
        let activeTab1 = null;

        chatHeader.addEventListener('click', async (e) => {
            const clicked = e.target;
            if (activeTab1 != e.target) {
                activeTab1.classList.remove('btn-primary');
                activeTab1.classList.add('btn-secondary');
                activeTab1 = e.target;
                activeTab1.classList.remove('btn-secondary');
                activeTab1.classList.add('btn-primary');
            }
            if (clicked.classList.contains('chatBoxTab')) {
                chatDiv.innerHTML = '';
                const result = await fetch(`/message?sender=${doctor_id}&receiver=${clicked.getAttribute('data-patient-id')}`);
                const result1 = await result.text();
                const messagesArray = JSON.parse(result1);
                for (const m of messagesArray) {
                    if (m.message_sender == doctor_id) {
                        chatDiv.innerHTML += `<p class="lead text-start">You: ${m.message_content}</p>`;
                    }
                    else {
                        chatDiv.innerHTML += `<p class="lead text-end">${m.message_sender}: ${m.message_content}</p>`;
                    }
                }
            }
        })

        startChatBtns.forEach((btn) => {
            btn.addEventListener('click', async () => {
                if (chatBox.classList.contains('d-none')) {
                    chatBox.classList.remove('d-none');
                    chatBox.classList.add('d-block');
                }
                chatDiv.innerHTML = '';
                const patient_id = btn.getAttribute('data-patient-id');
                const patientName = btn.getAttribute('data-patient-name');
                const result = await fetch(`/message?sender=${doctor_id}&receiver=${patient_id}`);
                const result1 = await result.text();
                const messagesArray = JSON.parse(result1);
                for (const m of messagesArray) {
                    if (m.message_sender == doctor_id) {
                        chatDiv.innerHTML += `<p class="lead text-start">You: ${m.message_content}</p>`;
                    }
                    else {
                        chatDiv.innerHTML += `<p class="lead text-end">${doctor_name}: ${m.message_content}</p>`;
                    }
                }
                chatSend.addEventListener('click', () => {
                    const content = chatInput.value;
                    const message = {
                        type: "message",
                        sender_id: "<%= doctorObject.person_id %>",
                        sender_name: "<%= doctorObject.person_name %>",
                        receiver_id: patient_id,
                        role: "doctor",
                        content
                    }
                    if (chatInput.value !== '') {
                        const html = `<p class="lead text-start">You: ${chatInput.value}</p>`;
                        chatDiv.innerHTML += html;
                        socket.send(JSON.stringify(message));
                    }
                    chatInput.value = '';
                })
                // create first tab 
                if (!activeTab1) {
                    chatBox.classList.remove('d-none');
                    activeTab1 = document.createElement('div');
                    activeTab1.classList.add('chatBoxTab', 'btn', 'btn-primary');
                    activeTab1.textContent = patientName;
                    activeTab1.setAttribute('data-patient', patientName);
                    activeTab1.setAttribute('data-patient-id', patient_id);
                    chatHeader.appendChild(activeTab1);
                } else {
                    // if there are tabs 
                    // check if this Patient has a tab opened
                    let existTab = null;
                    for (let i = 0; i < chatHeader.childElementCount; i++) {
                        if (chatHeader.children[i].innerText === patientName) {
                            existTab = chatHeader.children[i];
                            console.log("akzlejaz");
                            break;
                        }
                    }
                    if (existTab) {
                        // remove the highlight from the current tab 
                        // make the new tab highlighed
                        activeTab1.classList.remove('btn-primary');
                        activeTab1.classList.add('btn-secondary');
                        activeTab1 = existTab;
                        activeTab1.classList.remove('btn-secondary');
                        activeTab1.classList.add('btn-primary');
                    } else {
                        // if tab doesnt exist
                        const newTab = document.createElement('div');
                        newTab.classList.add('chatBoxTab', 'btn', 'btn-primary');
                        newTab.textContent = patientName;
                        newTab.setAttribute('data-patient', patientName);
                        newTab.setAttribute('data-patient-id', patient_id)
                        chatHeader.appendChild(newTab);

                        //Hightlight the new tab
                        activeTab1.classList.remove('btn-primary');
                        activeTab1.classList.add('btn-secondary');
                        activeTab1 = newTab;
                        activeTab1.classList.add('btn-primary');
                    }
                }
            })

        })
        // Receives A message from Certain patient
        socket.addEventListener('message', async (event) => {
            if (chatBox.classList.contains('d-none')) {
                chatBox.classList.remove('d-none');
                chatBox.classList.add('d-block');
            }
            chatDiv.innerHTML = '';
            const data = JSON.parse(event.data);
            const patient_id = data.sender_id;
            const result = await fetch(`/message?sender=${data.sender_id}&receiver=${data.receiver_id}`);
            const result1 = await result.text();
            const messagesArray = JSON.parse(result1);

            for (const m of messagesArray) {
                if (!(m.message_sender == doctor_id)) {
                    chatDiv.innerHTML += `<p class="lead text-end">${data.sender_name}: ${m.message_content}</p>`;
                } else {
                    chatDiv.innerHTML += `<p class="lead text-start">You: ${m.message_content}</p>`;
                }
            }
            // console.dir(patientIds[0].parentElement.childNodes[1].childNodes[1].innerText === data.sender_id)
            sendBTN.addEventListener('click', () => {
                const message = {
                    type: "message",
                    sender_id: doctor_id,
                    sender_name: "<%= doctorObject.person_name %>",
                    receiver_id: data.sender_id,
                    role: "doctor",
                    content: chatInput.value
                }
                if (chatInput.value !== '') {
                    const html = `<p class="lead">You: ${chatInput.value}</p>`;
                    chatDiv.innerHTML += html;
                    socket.send(JSON.stringify(message));
                    chatInput.value = '';
                }
            })
            if (!activeTab1) {
                chatBox.classList.remove('d-none');
                activeTab1 = document.createElement('div');
                activeTab1.classList.add('chatBoxTab', 'btn', 'btn-primary');
                activeTab1.textContent = data.sender_name;
                activeTab1.setAttribute('data-patient-id', data.sender_id);
                activeTab1.setAttribute('data-patient', data.sender_name);
                chatHeader.appendChild(activeTab1);
            } else {
                // if there are tabs 
                // check if this patient has a tab opened
                let existTab = null;
                for (let i = 0; i < chatHeader.childElementCount; i++) {
                    if (chatHeader.children[i].innerText === data.sender_name) {
                        existTab = chatHeader.children[i];
                        break;
                    }
                }
                if (existTab) {
                    // remove the highlight from the current tab 
                    // make the new tab highlighed
                    activeTab1.classList.remove('btn-primary');
                    activeTab1.classList.add('btn-secondary');
                    activeTab1 = existTab;
                    activeTab1.classList.remove('btn-secondary');
                    activeTab1.classList.add('btn-primary');
                } else {
                    // if tab doesnt exist
                    const newTab = document.createElement('div');
                    newTab.classList.add('chatBoxTab', 'btn', 'btn-primary');
                    newTab.textContent = data.sender_name;
                    newTab.setAttribute('data-patient-id', data.sender_id)
                    newTab.setAttribute('data-patient', data.sender_name)
                    chatHeader.appendChild(newTab);

                    //Hightlight the new tab
                    activeTab1.classList.remove('btn-primary');
                    activeTab1.classList.add('btn-secondary');
                    activeTab1 = newTab;
                    activeTab1.classList.add('btn-primary');
                }
                // TODO: Load previous messages from database (backend code)

                // TODO: Send new messages to database (backend code)
            }
        }
        );


    // End
    // socket.addEventListener('close', (event) => {
    //     console.log('WebSocket connection closed');
    // });

    </script>