<%- layout('layouts/patientBoilerplate')  %>

<h1>lkazjeklazje</h1>
<%= console.log(doctorsArray) %>
<div class="d-flex flex-wrap gap-2">
    <% for(const doctor of doctorsArray){ %>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title"><%= doctor.person_name %></h5>
              <h6 class="card-subtitle mb-2 text-body-secondary"><%= doctor.doctor_speciality %></h6>
              <p class="card-text"><%= doctor.person_phone %></p>
              <a href="/users/patient/doctor_full_details/<%= doctor.person_id %>" class="btn btn-primary">Visit profile</a>
              <a href="#" class="btn btn-success">Send a message</a>
            </div>
        </div>
    <%  } %>
</div>